# --- Bitcode --- #
__pycache__/

# --- MacOS Junk --- #
.DS_Store

# --- Build --- #
dist/

# --- Database --- ##
.db

# --- Created by tox --- #
.tox
.mypy_cache
.pytest_cache

# --- Created by VSCode --- #
settings.json
.vscode

# --- configuration files for specific servers --- #
prod.toml
